@charset "UTF-8";
/*
@media only screen and (min-width: 751px) {

  #tpl-contents {

      }

    #tpl-contents .category-title {

      background: none; } }
*/


#tpl-contents .company-list {

  width: 100%; }

  @media only screen and (min-width: 751px) {

    #tpl-contents .company-list {

      /*pcのみ*/ }

      #tpl-contents .company-list li {

        float: left; }

        #tpl-contents .company-list li .inner {
          width: 100%;
          height: 100%;
          
          display:inline-block;

        }
        
        #tpl-contents .company-list li .inner:after{

        }


        #tpl-contents .company-list li a {

          display: block;

          width: 100%;

          height: 100%;

          position: relative; }

          #tpl-contents .company-list li a p.arrow {

            width: 100%;

            text-align: center;

            position: absolute;

            bottom: 40px;

            font-size: 20px; }

            #tpl-contents .company-list li a p.arrow span {

              display: inline-block;

              background: url(../../img/common/ico_arw_lef_w.png) left center no-repeat;
              
              padding-left: 18px; }

      #tpl-contents .company-list .line1 {

        width: 33.3%;

        height: 400px; }

      #tpl-contents .company-list .line2 {

        width: 100%;

        height: 600px; }

      #tpl-contents .company-list .line3 {

        width: 33.3%;

        height: 400px; } }

 
  #tpl-contents .company-list .li1 {
    background: linear-gradient(0deg, rgba(0,0,0, 1.0), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/13.jpg);
    /*
    https://hacknote.jp/archives/8783/ 
    http://webrocketsmagazine.com/entry/20120224/css3-image-effects.html
    */
    /*background: url("/assets/img/ac/13.jpg") no-repeat center;*/

    background-size: cover; }
  
  
  

  #tpl-contents .company-list .li2 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/19.jpg);

    /*background: url("/assets/img/ac/19.jpg") no-repeat center;*/

    background-size: cover; }

  #tpl-contents .company-list .li3 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/25.jpg);

    /*background: url("/assets/img/ac/25.jpg") no-repeat center;*/

    background-size: cover; }

  #tpl-contents .company-list .li4 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(/assets/img/ac/21.jpg);

    /*background: url("/assets/img/ac/21.jpg") no-repeat center;*/

    background-size: cover; }

  #tpl-contents .company-list .li5 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/36.jpg);

    /*background: url("/assets/img/ac/36.jpg") no-repeat center;*/

    background-size: cover; }

  #tpl-contents .company-list .li6 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/22.jpg);

    /*background: url("/assets/img/ac/22.jpg") no-repeat center;*/

    background-size: cover; }

  #tpl-contents .company-list .li7 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(../../img/ac/35.jpg);

    /*background: url("/assets/img/ac/35.jpg") no-repeat left center;*/

    background-size: cover; }

  #tpl-contents .company-list .li8 {
    background: linear-gradient(0deg, rgba(0,0,0, 0.7), rgba(0,0,0, 0.0), rgba(0, 0, 0, 0.0)),url(/assets/img/ac/3.jpg);

    /*background: url("/assets/img/ac/3.jpg") no-repeat left center;*/

    background-size: cover; }


        

        
/****************************************

sp

****************************************/

@media only screen and (max-width: 750px) {

  #tpl-contents .company-list li {

    position: relative;

    width: 50%;

    float: left; }

    #tpl-contents .company-list li:before {

      content: "";

      display: block;

      padding-top: 100%;

      /* 高さを幅の75%に固定 */ }

    #tpl-contents .company-list li a {

      display: block;

      width: 100%;

      height: 100%;

      position: relative; }

      #tpl-contents .company-list li a p.arrow {

        width: 100%;

        text-align: center;

        position: absolute;

        bottom: 8%;

        font-size: 12px; }

        #tpl-contents .company-list li a p.arrow span {

          display: inline-block;

          background: url(../../img/common/ico_arw_lef_w.png) left center no-repeat;

          -webkit-background-size: 6px auto;

          -o-background-size: 6px auto;

          background-size: 6px auto;

          padding-left: 10px; }

  #tpl-contents .company-list .inner {

    position: absolute;

    top: 0;

    left: 0;

    bottom: 0;

    right: 0; } }

