
.company-recruit {
    background: url(/assets/img/ac/45_b.jpg) no-repeat center;
    background-size: cover;

}
.form_btn {

      padding: 60px 0 0 0;

      text-align: center; }

    @media screen and (max-width: 750px) {

      .form_btn {

        padding-bottom: 75px; } }

    .form_btn input {

      background-color: #333;

      border: none;

      width: 400px;

      padding: 35px 0;

      font-size: 18px;

      line-height: 1;

      color: #999;

      cursor: pointer; }

    @media screen and (max-width: 750px) {

      .form_btn input {

        width: 60%;

        padding: 15px 0;

        font-size: 14px; }

      .form_btn input:nth-child(even) {

        margin-top: 10px; } }

    .form_btn input.active {

      background-color: #2685C9;

      color: #fff; }